$themeColor: #1a1a1a;
$containerColor: #202020;
$white: white;

$darkBlack: #545770;
$lightBlack: #282a3c;

$darkWhite: #f2f2f5;
$lightWhite: #ebebf0;

$darkColor-1: #f2e6fe;
$darkColor-2: #dab3ff;
$darkColor-3: #bb86fc;
$darkColor-4: #985ffe;
$darkColor-5: #7f39fb;
$darkColor-6: #6202ee;
$darkColor-7: #5600e8;
$darkColor-8: #3801b3;
$darkColor-9: #30019c;
$darkColor-10: #24036a;

$darkRed: #ff5c5c;
$lightRed: #ff3c3a;

$darkGreen: #39d98a;
$lightGreen: #05c270;

$darkBlue: #5b8def;
$lightBlue: #0362f7;

$darkOrange: #fdab41;
$lightOrange: #ff8700;

$darkYellow: #fedd47;
$lightYellow: #ffcc00;

$darkTeal: #72dee7;
$lightTeal: #08cfdd;

$darkPurple: #ac5dd8;
$lightPurple: #6602cc;
